.navbar {
    width: 100%;
    margin-top: 40px;
}

.navbar__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__collection {
        display: flex;
        align-items: center;
        gap: 24px;

        p {
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(0, 0, 0, 1);
        }

        ul {
            display: flex;
            gap: 48px;
            list-style: none;

            li {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                color: rgba(0, 0, 0, 1);

                &:hover {
                    cursor: pointer;

                }
            }
        }

        .navbar__search {
            display: flex;
            background: rgba(245, 245, 245, 1);
            gap: 34px;
            padding: 7px 12px 7px 20px;
            border-radius: 4px;

            input {
                border: none;
                outline: none;
                background: rgba(245, 245, 245, 1);

            }
        }

        .navbar__icons {
            display: flex;
            gap: 16px;
        }
    }

    .navbar__sidebar {
        display: none;

        .show__sidebar {
            display: none;

            button {
                border: none;
                width: 100%;
                height: 25px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .sidebar {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 250px;
            z-index: 999;
            backdrop-filter: blur(100px);
            // background: rgb(153,153,153);
            background: rgba(255, 255, 255, 1);
            box-shadow: -10px 0 10px rgb(0, 0, 0, 1);
            gap: 15px;
            padding: 10px 20px;

            .hide {
                display: flex;
                border: none;
                padding: 2px;
                background: transparent;
                color: rgba(255, 255, 255, 1);
                transition: .7s;
                .hide_icons{
                    color: yellow;
                }

                &:hover {
                    cursor: pointer;
                    background: saddlebrown;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                list-style: none;

                li {
                    width: 100%;
                    // color: rgba(255, 255, 255, 1);
                    color: black;
                    transition: .7s;

                    &:hover {
                        cursor: pointer;
                        color: sienna;
                    }

                    a{
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }

            .sidebar__btn {
                display: flex;
                padding: 6px;
                border-radius: 30px;
                border: 2px solid white;
                background: transparent;
                color: white;
                transition: .7s;

                &:hover {
                    cursor: pointer;
                    color: sienna;
                    border: 2px solid sienna;
                    box-shadow: 0 0 20px;
                }
            }
        }


    }
}





@media (max-width:850px) {
    .navbar__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__collection {
            display: flex;
            align-items: center;
            gap: 24px;

            p {
                font-family: Inter;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: rgba(0, 0, 0, 1);
            }

            ul {
                display: flex;
                gap: 20px;
                list-style: none;

                li {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    color: rgba(0, 0, 0, 1);

                    &:hover {
                        cursor: pointer;

                    }
                }
            }

            .navbar__search {
                display: flex;
                background: rgba(245, 245, 245, 1);
                gap: 34px;
                padding: 7px 12px 7px 20px;
                border-radius: 4px;

                input {
                    border: none;
                    outline: none;
                    background: rgba(245, 245, 245, 1);

                }
            }

            .navbar__icons {
                display: flex;
                gap: 16px;
            }
        }
    }
}

@media (max-width:720px) {
    .navbar__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__collection {
            display: flex;
            align-items: center;
            gap: 24px;
            
            p {
                font-family: Inter;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: rgba(0, 0, 0, 1);
            }

            ul {
                display: none;
                gap: 20px;
                list-style: none;

                li {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    color: rgba(0, 0, 0, 1);

                    &:hover {
                        cursor: pointer;

                    }
                }
            }

            .navbar__search {
                display: flex;
                background: rgba(245, 245, 245, 1);
                gap: 34px;
                padding: 7px 12px 7px 20px;
                border-radius: 4px;

                input {
                    border: none;
                    outline: none;
                    background: rgba(245, 245, 245, 1);

                }
            }

            .navbar__icons {
                display: none;
                gap: 16px;
            }
        }

        .navbar__sidebar {
            display: flex;


            .show__sidebar {
                display: flex;
            }
        }

    }
}
@media (max-width:440px) {
    .navbar__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar__collection {
            display: flex;
            align-items: center;
            gap: 24px;

            p {
                font-family: Inter;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: rgba(0, 0, 0, 1);
            }

            ul {
                display: none;
                gap: 20px;
                list-style: none;

                li {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: center;
                    color: rgba(0, 0, 0, 1);

                    &:hover {
                        cursor: pointer;

                    }
                }
            }

            .navbar__search {
                display: none;
                background: rgba(245, 245, 245, 1);
                gap: 34px;
                padding: 7px 12px 7px 20px;
                border-radius: 4px;

                input {
                    border: none;
                    outline: none;
                    background: rgba(245, 245, 245, 1);

                }
            }

            .navbar__icons {
                display: none;
                gap: 16px;
            }
        }

        .navbar__sidebar {
            display: flex;


            .show__sidebar {
                display: flex;
            }
        }

    }
}